.fondo {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 500;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.button_cerrar {
    display:flex;
    width:100%;
    align-items:center;
    justify-content:end;
    padding-right: 10px;
}

.info_pintura {
    padding: 10px;
    width: 700px;
    background: #fff;
    flex-wrap: wrap;
}
.info_pintura * {
    display: flex;
    flex-direction: column;
}
.info_pintura p {
    flex-direction: row;
}
.buynowBTN {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    width: 165px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 5px 0;
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    text-decoration: none;
  }
  
.buynowBTN:hover {
    background-color: transparent;
    color: #000000;
  }