.fondo {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 500;
  }
  
  .fondo .cerrarp {
      margin-left: auto;
      top: 20%;
      display: block;
      z-index: 500;
  
  }
  
  .img1 {
      display: none;
      margin: auto;
  }
  .img2{
      display: none;
      margin: auto;
  }
  .img3 {
      display: none;
      margin: auto;
  }
  .img4 {
      display: none;
      margin: auto;
  }
  .img5 {
      display: none;
      margin: auto;
  }
  .img6 {
      display: none;
      margin: auto;
  }
  .img7 {
      display: none;
      margin: auto;
  }
  .img8 {
      display: none;
      margin: auto;
  }
  .img9 {
      display: none;
      margin: auto;
  }
  .img10 {
      display: none;
      margin: auto;
  }
  .img11 {
      display: none;
      margin: auto;
  }
  .img12 {
      display: none;
      margin: auto;
  }
  .img13 {
      display: none;
      margin: auto;
  }
  .img14 {
      display: none;
      margin: auto;
  }
  .img15 {
      display: none;
      margin: auto;
  }
  .img16 {
      display: none;
      margin: auto;
  }
  .img17 {
      display: none;
      margin: auto;
  }
  .img18 {
      display: none;
      margin: auto;
  }
  .img19 {
      display: none;
      margin: auto;
  }
  .img20 {
      display: none;
      margin: auto;
  }
  .img21 {
      display: none;
      margin: auto;
  }
  .img22 {
      display: none;
      margin: auto;
  }
  .img23 {
      display: none;
      margin: auto;
  }
  .img24 {
      display: none;
      margin: auto;
  }
  .img25 {
      display: none;
      margin: auto;
  }
  .img26 {
      display: none;
      margin: auto;
  }
  .img27 {
      display: none;
      margin: auto;
  }
  .img28 {
      display: none;
      margin: auto;
  }
  .img29 {
      display: none;
      margin: auto;
  }
  .img30 {
      display: none;
      margin: auto;
  }
  .img31 {
      display: none;
      margin: auto;
  }
  .img32 {
      display: none;
      margin: auto;
  }
  .img33 {
      display: none;
      margin: auto;
  }
  .img34 {
      display: none;
      margin: auto;
  }
  .img35 {
      display: none;
      margin: auto;
  }
  .img36 {
      display: none;
      margin: auto;
  }
  .img37 {
      display: none;
      margin: auto;
  }
  .img38 {
      display: none;
      margin: auto;
  }
  .img39 {
      display: none;
      margin: auto;
  }
    